Lab 1/23520530.txt
Lab 1/assignments.ipynb
Lab 1/lab-1.pdf
Lab 2/lab-2.pdf
Lab 1/linear-regression.ipynb
Lab 1/linear-regression.ipynb
Lab 2/preliminaries.ipynb
Lab 2/assignments.ipynb
Lab 2/23520530.txt
Lab 3/assignment.ipynb
Lab 3/preliminaries.ipynb
Lab 3/23520530.txt
Lab 4/assignments-updated.ipynb
Lab 4/23520530.txt
Lab 5/lab-5.pdf
